{% extends "menu.html" %}

{% block body %}

<section class="content-header">
  <h1>
    Deletar
    <small>pessoa</small>
  </h1>
</section>

<!-- Main content -->
<section class="content">
 <div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">{{ userof.name }}</h3>
  </div>
  <div class="box-body">
    <form method="POST" action="/usuario-excluir/{{ userof.id }}">
    <input type="hidden" name="_METHOD" value="DELETE"/>
      <div class="row">
        <div class="col-sm-2">
          <button type="submit" class="btn btn-block btn-danger">Deletar</button>
        </div>
        <div class="col-sm-2">
          <a role="button" href="/usuarios" class="btn btn-block btn-success">Cancelar</a>
        </div>          
      </div>
    </form>
  </div><!-- /.box-body -->
</div><!-- /.box -->
</section><!-- /.content -->

{% endblock %}