{% extends "menu.html" %}

{% block body %}
<title>Cadastrar Cliente | GiBR</title>
<section class="content-header">
	<h1>
		Cadastrar Cliente
	</h1>
</section>
<section class="content">
	<div class="box box-default">
		<form method="POST" action="/editar-cliente/id={{ client.id }}">
			<input type="hidden" name="_METHOD" value="PUT"/>
			<input type="hidden" name="id" value="{{ client.id }}"/>
			<div class="box-body">
				<div class="row">
					<div class="col-sm-4">
						<h5>Nome</h5>
						<input type="text" class="form-control" name="client" value="{{ client.client }}">
					</div>
					<div class="col-sm-2">
						<h5>Subdomínio</h5>
						<input type="text" name="subdomain" class="form-control" value="{{ client.subdomain }}">
					</div>
					<div class="col-sm-2">
						<h5>Banco de Dados</h5>
						<input type="text" name="database" class="form-control" value="{{ client.database }}">
					</div>
					<div class="col-sm-2">
						<h5>Usuário do Banco</h5>
						<input type="text" name="root" class="form-control" value="{{ client.root }}">
					</div>
					<div class="col-sm-2">
						<h5>Senha do Banco</h5>
						<input type="text" name="password" class="form-control" value="{{ client.password }}">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<h5>Sexo</h5>
						<select class="form-control" name="sex">
							{% if client.sex == 0 %}
							<option value="0" selected>Masculino</option>
							<option value="1">Feminino</option>
							{% else %}	
							<option value="0">Masculino</option>
							<option value="1" selected>Feminino</option>
							{% endif %}	
						</select>
					</div>
					<div class="col-sm-3">
						<h5>Data de Nascimento</h5>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</div>
							<input type="date" class="form-control"  name="birth_client" value="{{ client.birth_client }}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<h5>CPF</h5>
						<input type="text" name="cpf" class="form-control" data-inputmask='"mask": "999.999.999-99"' data-mask value="{{ client.cpf }}">
					</div>
					<div class="col-sm-3">
						<h5>RG</h5>
						<input type="text" name="rg" class="form-control" data-inputmask='"mask": "9999999999"' data-mask value="{{ client.rg }}">
					</div>
					<div class="col-sm-6">
						<h5>Email</h5>
						<input type="email" class="form-control" name="mail_client" value="{{ client.mail_client }}">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<h5>Telefone</h5>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="fa fa-phone"></i>
							</div>
							<input type="text" name="phone_client" class="form-control" data-inputmask='"mask": "(99) 9999-9999"' data-mask value="{{ client.phone_client }}">
						</div>
					</div>
					<div class="col-sm-2">
						<h5>CEP</h5>
						<input type="text" id="zipcode" name="zipcode" onblur="getCep(this.value);" class="form-control" data-inputmask='"mask": "99999-999"' data-mask value="{{ client.zipcode }}">
					</div>
					<div class="col-sm-5">
						<h5>Rua</h5>
						<input type="text"  id="address" name="address" class="form-control" value="{{ client.address }}">
					</div>
					<div class="col-sm-1">
						<h5>Número</h5>
						<input type="text"  name="number" class="form-control" value="{{ client.number }}">
					</div>
					<div class="col-sm-2">
						<h5>Complemento</h5>
						<input type="text" name="comp" class="form-control" value="{{ client.comp }}">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<h5>Bairro</h5>
						<input type="text" id="district" name="district" class="form-control" value="{{ client.district }}">
					</div>
					<div class="col-sm-3">
						<h5>Cidade</h5>
						<input type="text" id="city" name="city" class="form-control" value="{{ client.city }}">
					</div>
					<div class="col-sm-1">
						<h5>Estado</h5>
						<input type="text" id="uf" name="uf" class="form-control" value="{{ client.uf }}">
					</div>
					<div class="col-sm-3">
						<h5>Cargo</h5>
						<select class="form-control" name="office_client_id">
							{% for office in offices %}
							{% if office.id == client.office_client_id %}
							<option value="{{ office.id }}" selected>{{ office.office }}</option>
							{% elseif office.active == 0 %}
							<option value="{{ office.id }}">{{ office.office }}</option>
							{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<h5>Observações</h5>
						<textarea rows="6" name="obs" class="form-control">{{ client.obs }}</textarea>
					</div>
					<div class="col-sm-2">
						<h5>Situação</h5>
						<select class="form-control" name="active">
							{% if client.active == 0 %}
							<option value="0" selected>Funcional</option>
							<option value="1">Bloqueado</option>
							{% else %}	
							<option value="0">Funcional</option>
							<option value="1" selected>Bloqueado</option>
							{% endif %}	
						</select>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="pull-right">
					<a role="button" href="/clientes" class="btn btn-flat btn-danger">Cancelar</a>
					<button type="submit" class="btn btn-flat btn-success">Salvar</button>		
				</div>          
			</div>		
		</form>
	</div>
</section>

<script type="text/javascript">
	$("[data-mask]").inputmask();
	$('.select2').select2();
	function getCep(cep){
		$.getScript("http://cep.republicavirtual.com.br/web_cep.php?formato=javascript&cep="+cep, function(){            
			if (resultadoCEP["resultado"] != 0) {
				$("#address").val(unescape(resultadoCEP["logradouro"]));
				$("#district").val(unescape(resultadoCEP["bairro"]));
				$("#city").val(unescape(resultadoCEP["cidade"]));
				$("#uf").val(unescape(resultadoCEP["uf"]));
			}   
		}        
		);
	}
</script>

{% endblock %}